#!/bin/zsh
#
# rbenv is pick a Ruby version for any application and guarantee that dev env matches product.
# READ MORE: https://github.com/sstephenson/rbenv/

export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init -)"
